<div xmlns:th="http://www.thymeleaf.org" >
	<footer class="footer spad">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-md-6 col-sm-6">
					<div class="footer__about">
						<div class="footer__about__logo">
							<a href="#"><img src="/assets/logo.png" alt="photo"></a>
						</div>
						<ul>
							<li>Address: So 123 nguyen van linh, TP CT</li>
							<li>Phone: 0123123123</li>
							<li>Email: Toanhnpc00366@fpt.edu.vn</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</footer>
</div>